//Start into slider
.into-slider#into.background-image(data-image='img/bgn1.jpg')
	.container-fluid
		.row
			.col-md-3
				.item
					i.pe-7s-map-2
					h4| Product & Technology Strategy
					p| Build strategies by combining user research, organizational knowledge, competitive analysis, and integrating latest technologies.
			.col-md-3
				.item
					i.pe-7s-user
					h4| User Experience Design
					p| Provide captivating user experiences through planning, research, testing, and design to create unique products.
			.col-md-3
				.item
					i.pe-7s-browser
					h4| Web Design & Development
					p| Create websites and web applications that are beneficial, standards based, and production-ready for the experiences we design.
			.col-md-3
				.item
					i.pe-7s-add-user
					h4| Contract Staffing
					p| Our talent will work with you to identify methodical practices and requirements, that will in turn guarantee rapid growth, testing, and execution.
//End into slider
