// Start slider section
.slider#top
	#preloader
			#status
	.full-slider.intro

		// Start slide
		.slide.bg-mask.background-image.full-vh(data-image='img/bgn22.jpg')
			.container-slide.vertical-align.center.head-desc
				.container
					.row
						.col-md-12
							.heading-title-big
								| Symmlink
								span INC
							.description-slide
								| Empowering success by delivering meaningful applications
							.buttons-section
								a(href="#into",class='btn dark-btn large-btn smooth-scroll') Learn More

			#particles-js.canvas-background

	//Contol slider
	.dots-control-carousel#dots-control-full-slider
	// Strat Control carousel
	#control-full-slider.prev-next-block-rotate.opacity-control
		.wrap-prev
			.prev
				i(class="fa fa-angle-left" aria-hidden="true")
		.wrap-next
			.next
				i(class="fa fa-angle-right" aria-hidden="true")
	a(href="#into", class='smooth-scroll btn-down')
		i(class="fa fa-angle-down" aria-hidden="true")
// End slider section
