//Section OCR
section#hqocr.section-hqocr.bg-dark-section.background-image(data-image='img/bg3.jpg')
    .container
        .row
            .col-md-8.col-md-push-2
                .heading-title.small-heading.center
                    h2| Introducing
                        span| HQOCR
                    p| Our latest addition to the lineup of services we offer
                    p| HQOCR has many in-built features to meet the demands of today's enterprise solution. Please <a href='#contact'>contact us</a> for more information.
        .row
            .col-md-6
                .head-service.small-head.text-left
                    h2| HQOCR is a neural net based optical character recognition (OCR) engine that recognizes line patterns
                        span| .
                    p| HQOCR is an OCR engine that has the ability to recognize 100 languages out of the box. It is built with Deep Learning (DL) technology to train additional languages without code changes.
            .col-md-5.col-md-push-1
                ul.list
                    li| REST API Available
                    li| Asynchronous Batch and On-Demand modes
                    li| OCR selected regions
                    li| Support multiple output formats - HTML, PDF, TSV, XML
                    li| Train to support more languages and character patterns
                    li| Supports all Linux variants
                    li| and more...
        .row
            .col-md-8.col-md-push-2
                .heading-title.small-heading.center
                     p| To learn more, <a href="https://hqocr.symmlink.com" target="_blank">click here</a>

// Section about
section#about.about-us
    .container
        .row
            .col-md-8.col-md-push-2
                .heading-title.center
                    h2| About
                        span| us
                    .small-desd
                        | Symmlink
                        span| Inc
                    p| Symmlink Inc. is a full-lifecycle product development services company with a mission of creating engaging products through design led product development.
        .row
            .col-md-4
                .item-about
                    .icon
                        i.pe-7s-look
                        .bg-icon
                            i.pe-7s-look
                    .content
                        h3|Our
                            span
                                | vision
                        p| To make our clients successful by providing the best possible solutions using the latest technology
            .col-md-4
                .item-about
                    .icon
                        i.pe-7s-compass
                        .bg-icon
                            i.pe-7s-compass
                    .content
                        h3|our
                            span
                                | mission
                        p| To be cognizant of our strategic thinking by making technology an asset to clients, and integrate it seamlessly with their business goals.
            .col-md-4
                .item-about
                    .icon
                        i.pe-7s-study
                        .bg-icon
                            i.pe-7s-study
                    .content
                        h3|our
                            span
                                | philosophy
                        p| We strive to attain satisfaction. We are committed to providing outstanding attention and regard to client projects, ideas and their identity.


//Section services
section#services.services-section.background-image.bg-dark-section(data-image='img/bg2.jpg')
    .container
        .row
            .col-md-8.col-md-push-2
                .heading-title.small-heading.center
                    h2| Full Range
                        span| software engineering
                    p| Our architects, user experience designers, and software developers come together to create amazing software for our clients.
        .row
            .tabs.services-tabs
                ul.services-carousel
                    li.animated-service.anim-shadow
                        a(href='#tabs-1')
                            i.pe-7s-graph
                            h4| Project Management
                            p| Leverage Agile best practices to meet your goals
                            p| &nbsp;
                    li.animated-service.anim-shadow
                        a(href='#tabs-2')
                            i.pe-7s-drop
                            h4| Development
                            p| Seasoned software designers and developers with expertise across various technologies.
                    li.animated-service.anim-shadow
                        a(href='#tabs-3')
                            i.pe-7s-timer
                            h4| Software Testing
                            p| Our QA teams provide standalone testing services to meet project needs.
                    li.animated-service.anim-shadow
                        a(href='#tabs-4')
                            i.pe-7s-map
                            h4| Staffing
                            p| We understand the process of acquiring the most capable and competent resources.
                .dots-control-carousel#dots-control-tabs
                //Start tabs
                #tabs-1
                    .col-md-6
                        .head-service.small-head.text-left
                            h2| We’re a technology partner, not just a design and
                                span|  development consultancy.
                            p| We provide full-cycle software development services designed to help you grow your business, increase your ROI, and one-up the competition. Whether it’s custom software engineering, software testing and quality assurance, system integration, technology consulting, or software support — we got you covered.
                        p
                            | Our focus is on making sure your business is successful in the long-run, not on building a product that supports our own objectives.
                    .col-md-5.col-md-push-1
                        ul.list
                            li| Technical Requirements
                            li| Prototype Design
                            li| Architecture and Consulting
                            li| Information Management
                            li| Content creation
                            li| Quality Assurance
                            li| Project management
                            li| Responsive Web Development
                            li| Testing
                            li| and more...

                #tabs-2
                    .col-md-6
                        .head-service.small-head.text-left
                            h2| We use industry-leading standards and methodologies.
                            p| Architect, design, implement, deliver topnotch technology solutions using cloud-native architecture principles and patterns, assist in deploy to various cloud platforms.
                        p
                            | Hands-on software architecture and engineering experience in building applications range from monolithic web applications to enterprise level SOA and microservices based solutions.
                    .col-md-5.col-md-push-1
                        ul.list
                            li| Agile Development
                            li| UI, UX
                            li| Systems Engineering
                            li| DevOps
                            li| System Enhancements
                            li| Software Architecture
                            li| COTS Integration
                            li| Cloud Native
                            li| and more...
                #tabs-3
                    .col-md-6
                        .head-service.small-head.text-left
                            h2| Software Testing in all phases of development lifecycle
                            p| Functional Testing is an essential element of testing where you are about to release an application and its functionality fit. The considerations are – is the application validated for all requirements and is the functionality verified for the output desired?
                        p
                            | We bring in the practice of working at all stages of testing right from Unit testing to systems integration thereby ensuring quality control in all critical areas of application development and implementation.
                    .col-md-5.col-md-push-1
                        ul.list
                            li| System Testing and Acceptance
                            li| Security Test and Evaluation
                            li| Penetration Testing
                            li| Automation Testing
                            li| and more...
                #tabs-4
                    .col-md-6
                        .head-service.small-head.text-left
                            h2| We provide the highest quality of talent for any company size and any tech stack or environment.
                        p We focus on finding talented individuals and creating dynamic teams that will efficiently execute and seamlessly integrate into your company.
                        p Our individuals have the ability to smoothly and quickly integrate into or adapt to any project management tool or collaborative environment used by your company. All of the teams we provide are well-versed in a variety of collaborative technology stacks.
                    .col-md-5.col-md-push-1
                        ul.list
                            li| Business Analyst
                            li| Architects
                            li| UI Developers
                            li| UX Designers
                            li| Full Stack Developers
                            li| Database Administrators
                            li| and more...

//Section how we work
section#work.section-how-we-work.bg-white-section.background-image(data-image='img/bg2.jpg')
    .container
        .row
            .col-md-8.col-md-push-2
                .heading-title.center
                    h2| How we work
                    .small-desd
                        | Our
                        span| Workflow
                    p| We like to start by getting to know your needs. Next, we test ideas, assess projects, and analyze code.
        .row
            // Item
            .col-md-3.col-sm-6.col-xs-12.item-icon
                .icon-container
                    .icon.icon-circle
                        i.pe-7s-look
                h3 Planning & Research
                p
                    | Pursue technological research to set design requirements, objectives, and application foundation.
            // Item
            .col-md-3.col-sm-6.col-xs-12.item-icon
                .icon-container
                    .icon.icon-circle
                        i.pe-7s-light
                h3 Wireframes & Design
                p
                    | Perform concept sketching and visual mock-ups for front end development and essential integration processing.
            // Item
            .col-md-3.col-sm-6.col-xs-12.item-icon
                .icon-container
                    .icon.icon-circle
                        i.pe-7s-like2
                h3 Development
                p
                    | Sculpt the UI with HTML/CSS backed by the latest supportive programming languages to develop the custom application.
            // Item
            .col-md-3.col-sm-6.col-xs-12.item-icon
                .icon-container
                    .icon.icon-circle
                        i.pe-7s-graph1
                h3 Test & Launch
                p
                    | Perform iterations of testing on the applications to ensure quality. The designed product is now ready.
            // Edn items

//Section we are in numbers
section.section-we-are-numbers.bg-dark-section.background-image(data-image='img/bg3.jpg')
    .container
        .row
            .col-md-8.col-md-push-2
                .heading-title.small-heading.center
                    h2| We are &nbsp;
                        span| growing
                    p| We just started two years ago and our clients are satisfied
    .container-fluid
        .row
            .items-nopadding
                .col-md-3
                    .item-number
                        .num
                            h2
                                span(data-min="0" data-max="12" data-delay="5" data-increment="3" class="numscroller") 0
                        .name
                            p Completed projects
                .col-md-3
                    .item-number
                        .num
                            h2
                                span(data-min="0" data-max="7" data-delay="5" data-increment="3" class="numscroller") 0
                        .name
                            p Happy clients
                .col-md-3
                    .item-number
                        .num
                            h2
                                span(data-min="0" data-max="6" data-delay="5" data-increment="3" class="numscroller") 0
                        .name
                            p Average Employee Experience
                .col-md-3
                    .item-number
                        .num
                            h2
                                span(data-min="0" data-max="4" data-delay="5" data-increment="3" class="numscroller") 0
                        .name
                            p Years In Business

//Section our skills
section#skills.section-our-skills.bg-white-section.background-image(data-image='img/bg3.jpg')
    .container
        .row
            .col-md-6
                .heading-title.small-heading.center.left-text
                    h2| Our
                        span|  skills
                    p| Whether you have an idea in mind that is in the very early stages and are looking for a development partner, or you are 3 weeks away from production and need help resolving issues, we are there for you. We have worked on building prototypes for large clients, solving performance issues in production and offering full stack development support. It really doesn't matter what the software problem is.
        .row
            .col-md-7
                .tabs.tabs-default
                    ul
                        li
                            a(href='#tabs-d1') Front End Developer

                        li
                            a(href='#tabs-d2') UX Designers

                        li
                            a(href='#tabs-d3') Database Experts

                        li
                            a(href='#tabs-d4') Software quality testers
                        li
                            a(href='#tabs-d5') Full Stack Developer

                    #tabs-d1
                        p Our experience of building web applications has resulted in a  fine-tuned process that ensures an end result that meets client expectations. We utilize rapid prototype, follow up-to-date style guides and involve users in the development process early and often, so we can identify how to build a product that best meets their needs.
                        p Our expertise in modern technologies like AngularJS and React.js allows us to build enhanced apps that perform at the highest standard.
                    #tabs-d2
                        p Expert UI, UX, Visual, and Interaction designers as well as a wide range of illustrators, animators, and more.
                        p
                    #tabs-d3
                        p Modern applications create huge amounts of new data, making it more important than ever to design databases equipped to handle the demands of any amount of information. Our team is comfortable using the third normal form to build relational databases, as well as building denormalized databases such as NoSQL. Our database development takes into consideration data migration and data modeling services, and we implement search optimization functionality using  Solr.
                        p Our comprehensive knowledge and experience allows us to create a database tailored to the needs of your organization’s specific information.
                    #tabs-d4
                        p Our consultants are able to quickly grasp complex requirements and produce accurate testing documentation to complete the testing phase of the project on time.
                        p
                    #tabs-d5
                        p The services your organization implements should be designed with flexibility and ease of use in mind. These goals are at the forefront of our service development mindset. We prioritize using modern technologies, like Node.js, to build microservices that are lightweight in the way they operate.
                        p This allows for the release of software early and often, and makes it easy to incorporate changes and adjustments at any time.
            .col-md-5
                //Start skills wrap
                .skillbars
                    .skillbar.clearfix(data-percent='80%')
                        .skillbar-title
                            span jQuery
                        .skillbar-bar
                        .skill-bar-percent 80%
                    // End Skill Bar
                    .skillbar.clearfix(data-percent='95%')
                        .skillbar-title
                            span HTML&CSS
                        .skillbar-bar
                        .skill-bar-percent 95%
                    // End Skill Bar
                    .skillbar.clearfix(data-percent='90%')
                        .skillbar-title
                            span Angular
                        .skillbar-bar
                        .skill-bar-percent 90%
                    // End Skill Bar
                    .skillbar.clearfix(data-percent='90%')
                        .skillbar-title
                            span React
                        .skillbar-bar
                        .skill-bar-percent 90%
                    // End Skill Bar
                    .skillbar.clearfix(data-percent='60%')
                        .skillbar-title
                            span Node.js
                        .skillbar-bar
                        .skill-bar-percent 60%
                    // End Skill Bar
                    .skillbar.clearfix(data-percent='50%')
                        .skillbar-title
                            span Java
                        .skillbar-bar
                        .skill-bar-percent 50%
                    // End Skill Bar
                    .skillbar.clearfix(data-percent='20%')
                        .skillbar-title
                            span Database
                        .skillbar-bar
                        .skill-bar-percent 20%
                    // End Skill Bar
                //End skills wrap

//Section carousel trigger
section.section-carousel-trigger.bg-dark-section.background-image(data-image='img/bg3.jpg')
    .container
        .row
            #trigger-carousel
                //Start slide
                .col-md-4
                    .item-triggel-carousel.center
                        .icon
                            i.pe-7s-user-female
                        h2
                            | Individuals
                        p
                            | Fill a missing skill set or role on your team.
                //Start slide
                .col-md-4
                    .item-triggel-carousel.center
                        .icon
                            i.pe-7s-users
                        h2
                            | Teams
                        p
                            | Assemble a full team, ready to follow your lead.
                //Start slide
                .col-md-4
                    .item-triggel-carousel.center
                        .icon
                            i.pe-7s-portfolio
                        h2
                            | Projects
                        p
                            | Leverage a fully-managed team, operating using agile best practices.
                //Start slide
                .col-md-4
                    .item-triggel-carousel.center
                        .icon
                            i.pe-7s-user-female
                        h2
                            | Individuals
                        p
                            | Fill a missing skill set or role on your team.
                //Start slide
                .col-md-4
                    .item-triggel-carousel.center
                        .icon
                            i.pe-7s-users
                        h2
                            | Teams
                        p
                            | Assemble a full team, ready to follow your lead.
                //Start slide
                .col-md-4
                    .item-triggel-carousel.center
                        .icon
                            i.pe-7s-portfolio
                        h2
                            | Projects
                        p
                            | Leverage a fully-managed team, operating using agile best practices.
            .dots-control-carousel#dots-control-triggers

//Section our team
section.section-team.bg-white-section.background-image(data-image='img/bg1.jpg')
    .container
        .row
            .col-md-8.col-md-push-2
                .heading-title.center
                    h2| Team
                    .small-desd
                        | Who
                        span|  we are
                    p| We strive to attain satisfaction. We are committed to providing outstanding attention and regard to client projects, ideas and their identity.
        //.row
        //    //Start item team
        //    .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //        .item-team
        //            h2 Salma Mohamed
        //            span Founder & CEO
        //            p She is committed to the company's mission and fundamental values that drive decisions and fuel our growth
        //    //Start item team
            //.col-lg-6.col-md-6.col-sm-6.col-xs-6
            //	.item-team
            //		h2 Yasser Parambathkandy
            //		span Co Founder
            //		p Handles company business development and customer relations
            //End item team

//Section contact with us
section#contact.section-contact-with-us.bg-dark-section.background-image(data-image='img/bg3.jpg')
    .container
        .row
            .col-md-8.col-md-push-2
                .heading-title.small-heading.center
                    h2| Connect
                        span| with us
                    p| Empowering success by delivering meaningful applications
        .row
            .col-md-6
                .contact-wrap
                    p.phone
                        i(class="fa fa-phone" aria-hidden="true")
                        | (571) 340 4895
                    p.street
                        | Aldie, VA 20105
                    a(href="malito:" class="email")
                        i(class="fa fa-envelope-o" aria-hidden="true")
                        | SALES@SYMMLINK.COM


