//- //- Style custom
//- include _style-custom.jade

footer.footer-minimal
	.container
		.row
			.col-md-12.center
				.logo
					img(src='img/logo.png' alt='logo' class='logo-white')
				p| We are a creative agency with a passion for design & developing beautiful creations.


	.down-footer
		.container
			.row
				.col-md-12.center
					p| © 2017 All Rights Reserved.  -   Created by Brainiakthemes

//button to top
.top.icon-down.toTopFromBottom
	a.smooth-scroll(href='#top')
		i.pe-7s-angle-up
//end button to top
