//- //- Style custom
//- include _style-custom.jade

footer
	//.container
		//.row
		//	.col-md-3
		//		.logo
		//			img(src='img/logo.png' alt='logo' class='logo-white')
		//		p| We are a creative agency with a passion for design & developing beautiful creations.
		//		//Start social links
		//		ul.social-links
		//			li
		//				a(href='#')
		//					i.fa.fa-facebook
		//			li
		//				a(href='#')
		//					i.fa.fa-twitter
		//			li
		//				a(href='#')
		//					i.fa.fa-skype
		//			li
		//				a(href='#')
		//					i.fa.fa-linkedin
		//		//End social links
		//	.col-md-3
		//		.links
		//			h5 ADDITIONAL LINKS
		//			ul.list
		//				li
		//					a(href="index-freelance.html") For Freelancer
		//				li
		//					a(href="index-portfolio-photographs.html") For Photographs
		//				li
		//					a(href="contact.html") Contact
		//				li
		//					a(href="faq.html") FAQ
		//				li
		//					a(href="404-page.html") 404 page
		//	.col-md-3
		//		.links
		//			h5 Pages
		//			ul.list
		//				li
		//					a(href="about.html") About page
		//				li
		//					a(href="blog-masonry.html") Blog page
		//				li
		//					a(href="prices-2.html") Price page
		//				li
		//					a(href="portfolio.html") Portfolio page
		//				li
		//					a(href="project-single-gallery.html") Portfolio single
		//	.col-md-3
		//		.links
		//			h5 Adress
		//			p| 1234 SOME AVENUE,
		//				br
		//				|NEW YORK, NY 56789
		//				br
		//				| INFO@YOUWEBSITE.COM
		//				br
		//				|  (123) 456-7890
		//				br
		//				|  (123) 456-7890
	.down-footer
		.container
			.row
				.col-md-12
					p| © 2017 All Rights Reserved.  -   Created by Symmlink Inc
					ul.footer-menu

						li
							a(href="index.html") Home

						li
							a(href='#about', class='smooth-scroll') About

						li
							a(href='#services', class='smooth-scroll') Services

						li
							a(href='#work', class='smooth-scroll') Our works

						li
							a(href='#skills', class='smooth-scroll') Skills

						li
							a(href='#contact', class='smooth-scroll') Contact

//button to top
.top.icon-down.toTopFromBottom
	a.smooth-scroll(href='#top')
		i.pe-7s-angle-up
//end button to top
