header#top-nav.top-nav.page-header
	.container
		a(class='logo smooth-scroll', href='#')

		nav.top-menu
			ul.sf-menu

				//Menu default
				include _menu-default.jade

			// Start toggle menu
			a(href='#', class="toggle-mnu")
				span
			// Start toggle menu
			//a(class='toggle-top', href='#')
				//span
				//span
				//span
				//span
				//span
		// Start mobile menu

		include _mobile-nav.jade

		// End mobile menu

// Start full screen top nav

include _full-screen-nav.jade

// End full screen top nav
