li
	a(href='index.html') Home
li
	a(href='#hqocr', class='smooth-scroll') HQOCR
li
	a(href='#about', class='smooth-scroll') About
li
	a(href='#services', class='smooth-scroll') Services
li
	a(href='#work', class='smooth-scroll') How we work
li
	a(href='#skills', class='smooth-scroll') Skills
li
	a(href='#contact', class='smooth-scroll') Contact
