#mobile-menu
	.inner-wrap
		nav
			ul.nav_menu
				li.menu-item-has-children.current-menu-item
					a(href='#') Home
					ul.sub-menu
						li
							a(href='index.html') Home - Default
						li
							a(href='index-left-nav.html') Home - Left Menu
						li
							a(href='index-video-backgound.html') Home - Video
						li
							a(href='index-demo.html') Home - Demo
						li
							a(href='index-slide-content.html') Home - Slide content
						li
							a(href='index-project.html') Home - Project
						li
							a(href='index-project2.html') Home - Project 2
						li
							a(href='index-canvas.html') Home - Canvas
						li
							a(href='index-canvas-2.html') Home - Canvas 2
						li
							a(href="index-freelance.html") Home - Freelancer
						li
							a(href="index-personal-photo.html") Home - Photographs
						li
							a(href="index-personal-photo-video.html") Home - Photographs video
						li
							a(href='index-portfolio.html') Home - Portfolio default
						li
							a(href='index-portfolio-photographs.html') Home - Portfolio photographs

				li.menu-item-has-children
					a(href='#') Pages
					ul.sub-menu
						li
							a(href='contact.html') Contact Default
						li
							a(href='contact-2.html') Contact - 2
						li
							a(href='contact-3.html') Contact - 3
						li
							a(href='contact-4.html') Contact - 4
						li
							a(href='contact-5.html') Contact - 5
						li
							a(href="services.html") Services page
						li
							a(href="services-mini-head.html") Services mini head
						li
							a(href="services-dark.html") Services page dark
						li
							a(href="services-2-col.html") Services 2 columns
						li
							a(href="service-single.html") Services single
						li
							a(href="services.html") Services page
						li
							a(href="services-mini-head.html") Services mini head
						li
							a(href="services-dark.html") Services page dark
						li
							a(href="services-2-col.html") Services 2 columns
						li
							a(href="service-single.html") Services single
						li
							a(href='portfolio.html') Page default
						li
							a(href='portfolio-no-sortable.html') Page no filter
						li
							a(href='portfolio-masonry.html') Page masonry
						li
							a(href='portfolio-masonry-photos.html') Page masonry photos
						li
							a(href='project-single.html') Project single
						li
							a(href='project-single-gallery.html') Project gallery
						li
							a(href='project-single-youtube.html') Project youtube
						li
							a(href='project-single-vimeo.html') Project vimeo
						li
							a(href="blog.html") Blog sidebar
						li
							a(href="blog-sidebar-right.html") Blog sidebar right
						li
							a(href="blog-no-sidebar.html") Blog line
						li
							a(href="blog-classic.html") Blog classic
						li
							a(href="blog-masonry.html") Blog masonry
						li
							a(href="blog-single.html") Single post
						li
							a(href="blog-single-gallery.html") Single post gallery
						li
							a(href="blog-single-youtube.html") Single post YouTube
						li
							a(href="blog-single-vimeo.html") Single post Vimeo
						li
							a(href="prices.html") Prices 1
						li
							a(href="prices-2.html") Prices 2
						li
							a(href="prices-2-dark.html") Prices 3 dark
						li
							a(href="404-page.html") 404 page
						li
							a(href="terms.html") TERMS
						li
							a(href="faq.html") FAQ page
				li
					a(href='#about', class='smooth-scroll') About
				li
					a(href='#services', class='smooth-scroll') Services
				li
					a(href='#portfolio', class='smooth-scroll') Our works
				li
					a(href='#skills', class='smooth-scroll') Skills
				li
					a(href='#contact', class='smooth-scroll') Contact
