//Google map
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDfIvcRb39yOu1OFOX2G0c4jemKpLgpJl0&sensor=false')

//Libs
script(src='js/libs.js')

//- //Customizer
//- script(src='libs/style-customizer/style-customizer.js')

//Use scripts
script(src='js/common.js')

//- //Use scripts
//- script(src='js/common.min.js')
