// style-customizer start
.style-customizer.closed
	.buy-button
		a.customizer-logo(href='index.html')
			img(src='img/logo.png', alt='Theme Logo')
		a.opener(href='#')
			i(class="fa fa-cog fa-spin fa-fw" aria-hidden="true")
		a.button.button-border.btn-buy(href='#', target='blanc') Buy now!
	.clearfix.content-chooser
		h3 Color Schemes
		p Which theme color you want to use? Select from here.
		ul.styleChange.clearfix
			li.color-0.selected(title='color-0', data-style='main')
			li.color-1(title='color-1', data-style='accent-two')
			li.color-2(title='color-2', data-style='blue')
			li.color-3(title='color-3', data-style='green')
			li.color-4(title='color-4', data-style='lime')
			li.color-5(title='color-5', data-style='green1')
			li.color-6(title='color-6', data-style='yellow')
			li.color-7(title='color-7', data-style='yellow2')
			li.color-8(title='color-8', data-style='red')
			li.color-9(title='color-9', data-style='red2')
			li.color-10(title='color-10', data-style='violet')
			li.color-11(title='color-11', data-style='violetred')
		ul.resetAll
			li
				a.button.button-border.button-reset(href='#') Reset All
// style-customizer end
